# Transforming DataFrames and Series

In [1]:
import pandas as pd

When we load a dataframe from a csv we can specify the columns we want to use with `usecols`

In [2]:
columns = ["room_id", "host_id", "room_type", "neighborhood", "reviews", "overall_satisfaction",
               "accommodates", "bedrooms", "price"]

df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()

In [3]:
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

## Remove rows and columns
To remove rows and columns we can use `.drop`

In order to drop rows and columns from a DataFrame, you can use the function [drop](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html). By default `.loc` removes rows based on the index value.

Drop has two important arguments:
* inplace: with this argument, you can chose if you want to transform the original DataFrame or if you want the drop function to return a copy of the transformed DataFrame. It"s default value is False, i.e, you don"t apply the transformation in the original DataFrame. You"ll see this argument in many functions that transform DataFrames. **This is usually not recommended**
* axis: with this argument, you chose if you want to drop rows (axis=0) or if you want to drop columns (axis=1). The default behaviour is to drop rows. You"ll se this argument in many functions that transform DataFrames.

For example, we can remove the row with index 6499

In [4]:
df1 = df.drop(6499)
print(6499 in df.index)
df1

True

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0
33348,144484,Private room,Lumiar,2,0.0,6,1.0,46.0
34783,149980,Private room,Estrela,0,0.0,1,1.0,54.0
34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
40817,176410,Entire home/apt,Misericórdia,229,4.5,2,1.0,52.0
42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
42519,136230,Entire home/apt,Misericórdia,79,4.5,3,1.0,87.0
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
46567,208343,Private room,Avenidas Novas,3,5.0,2,1.0,39.0
47717,217058,Entire home/apt,Santa Maria Maior,70,4.5,3,1.0,57.0
50108,229376,Entire home/apt,Estrela,33,4.5,4,1.0,69.0
55116,259744,Private room,Avenidas Novas,1,0.0,2,2.0,68.0
56906,270457,Entire home/apt,São Vicente,86,4.5,3,1.0,52.0
57850,276092,Entire home/apt,Estrela,52,4.5,3,2.0,70.0
59227,184400,Entire home/apt,Misericórdia,25,4.5,7,3.0,138.0
65553,320407,Entire home/apt,Campo de Ourique,102,4.5,2,1.0,58.0
65878,322145,Entire home/apt,Misericórdia,51,5.0,4,1.0,76.0
72807,378525,Private room,Alvalade,1,0.0,1,1.0,29.0
73764,154341,Entire home/apt,Santo António,18,4.5,2,1.0,64.0
75171,184400,Entire home/apt,Estrela,19,4.5,5,2.0,115.0
77130,412702,Entire home/apt,Misericórdia,74,4.5,3,0.0,52.0
77466,415066,Entire home/apt,Misericórdia,255,5.0,5,2.0,80.0
...,...,...,...,...,...,...,...,...
19360001,26864642,Private room,Arroios,0,0.0,6,3.0,33.0
19361749,127589264,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,69.0
19362076,88928860,Entire home/apt,Penha de França,0,0.0,4,2.0,104.0
19362417,28225140,Private room,Arroios,0,0.0,2,1.0,29.0
19363100,88928860,Private room,Penha de França,0,0.0,2,1.0,46.0
19368183,14317794,Entire home/apt,Misericórdia,0,0.0,4,1.0,104.0
19369538,114388582,Entire home/apt,Misericórdia,0,0.0,4,2.0,65.0
19370050,14317794,Entire home/apt,Misericórdia,0,0.0,3,2.0,109.0
19370165,114388582,Entire home/apt,Santo António,0,0.0,4,2.0,58.0
19370278,135784989,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,184.0
19370578,131185696,Entire home/apt,Alcântara,0,0.0,5,2.0,71.0
19370769,135787783,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,176.0
19373212,131185696,Entire home/apt,Alcântara,0,0.0,4,2.0,75.0
19376122,119457178,Entire home/apt,Ajuda,0,0.0,5,2.0,64.0
19379554,104083974,Entire home/apt,Belém,0,0.0,4,1.0,69.0
19379856,12723358,Entire home/apt,Parque das Nações,0,0.0,2,1.0,80.0
19380177,104083974,Entire home/apt,Belém,0,0.0,6,2.0,69.0
19380414,85047832,Entire home/apt,São Vicente,0,0.0,2,0.0,52.0
19380457,104083974,Entire home/apt,Belém,0,0.0,6,3.0,93.0
19381136,131185696,Entire home/apt,Alcântara,0,0.0,3,1.0,48.0
19383103,48844725,Entire home/apt,Estrela,0,0.0,4,2.0,84.0
19383615,100924999,Entire home/apt,Parque das Nações,0,0.0,4,1.0,52.0
19385945,135895465,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,64.0
19386235,55922649,Entire home/apt,Santa Maria Maior,0,0.0,4,1.0,87.0
19386898,95929866,Entire home/apt,Arroios,0,0.0,3,1.0,91.0
19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

If we use `inplace=True` we modify the original dataframe

In [5]:
df.drop(6499, inplace=True)
print(6499 in df.index)
df

False

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0
33348,144484,Private room,Lumiar,2,0.0,6,1.0,46.0
34783,149980,Private room,Estrela,0,0.0,1,1.0,54.0
34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
40817,176410,Entire home/apt,Misericórdia,229,4.5,2,1.0,52.0
42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
42519,136230,Entire home/apt,Misericórdia,79,4.5,3,1.0,87.0
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
46567,208343,Private room,Avenidas Novas,3,5.0,2,1.0,39.0
47717,217058,Entire home/apt,Santa Maria Maior,70,4.5,3,1.0,57.0
50108,229376,Entire home/apt,Estrela,33,4.5,4,1.0,69.0
55116,259744,Private room,Avenidas Novas,1,0.0,2,2.0,68.0
56906,270457,Entire home/apt,São Vicente,86,4.5,3,1.0,52.0
57850,276092,Entire home/apt,Estrela,52,4.5,3,2.0,70.0
59227,184400,Entire home/apt,Misericórdia,25,4.5,7,3.0,138.0
65553,320407,Entire home/apt,Campo de Ourique,102,4.5,2,1.0,58.0
65878,322145,Entire home/apt,Misericórdia,51,5.0,4,1.0,76.0
72807,378525,Private room,Alvalade,1,0.0,1,1.0,29.0
73764,154341,Entire home/apt,Santo António,18,4.5,2,1.0,64.0
75171,184400,Entire home/apt,Estrela,19,4.5,5,2.0,115.0
77130,412702,Entire home/apt,Misericórdia,74,4.5,3,0.0,52.0
77466,415066,Entire home/apt,Misericórdia,255,5.0,5,2.0,80.0
...,...,...,...,...,...,...,...,...
19360001,26864642,Private room,Arroios,0,0.0,6,3.0,33.0
19361749,127589264,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,69.0
19362076,88928860,Entire home/apt,Penha de França,0,0.0,4,2.0,104.0
19362417,28225140,Private room,Arroios,0,0.0,2,1.0,29.0
19363100,88928860,Private room,Penha de França,0,0.0,2,1.0,46.0
19368183,14317794,Entire home/apt,Misericórdia,0,0.0,4,1.0,104.0
19369538,114388582,Entire home/apt,Misericórdia,0,0.0,4,2.0,65.0
19370050,14317794,Entire home/apt,Misericórdia,0,0.0,3,2.0,109.0
19370165,114388582,Entire home/apt,Santo António,0,0.0,4,2.0,58.0
19370278,135784989,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,184.0
19370578,131185696,Entire home/apt,Alcântara,0,0.0,5,2.0,71.0
19370769,135787783,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,176.0
19373212,131185696,Entire home/apt,Alcântara,0,0.0,4,2.0,75.0
19376122,119457178,Entire home/apt,Ajuda,0,0.0,5,2.0,64.0
19379554,104083974,Entire home/apt,Belém,0,0.0,4,1.0,69.0
19379856,12723358,Entire home/apt,Parque das Nações,0,0.0,2,1.0,80.0
19380177,104083974,Entire home/apt,Belém,0,0.0,6,2.0,69.0
19380414,85047832,Entire home/apt,São Vicente,0,0.0,2,0.0,52.0
19380457,104083974,Entire home/apt,Belém,0,0.0,6,3.0,93.0
19381136,131185696,Entire home/apt,Alcântara,0,0.0,3,1.0,48.0
19383103,48844725,Entire home/apt,Estrela,0,0.0,4,2.0,84.0
19383615,100924999,Entire home/apt,Parque das Nações,0,0.0,4,1.0,52.0
19385945,135895465,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,64.0
19386235,55922649,Entire home/apt,Santa Maria Maior,0,0.0,4,1.0,87.0
19386898,95929866,Entire home/apt,Arroios,0,0.0,3,1.0,91.0
19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

Same with `loc` or `iloc`, we can drop multiple rows

In [6]:
df.drop([29720, 29891])

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0
33348,144484,Private room,Lumiar,2,0.0,6,1.0,46.0
34783,149980,Private room,Estrela,0,0.0,1,1.0,54.0
34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
40817,176410,Entire home/apt,Misericórdia,229,4.5,2,1.0,52.0
42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
42519,136230,Entire home/apt,Misericórdia,79,4.5,3,1.0,87.0
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
46567,208343,Private room,Avenidas Novas,3,5.0,2,1.0,39.0
47717,217058,Entire home/apt,Santa Maria Maior,70,4.5,3,1.0,57.0
50108,229376,Entire home/apt,Estrela,33,4.5,4,1.0,69.0
55116,259744,Private room,Avenidas Novas,1,0.0,2,2.0,68.0
56906,270457,Entire home/apt,São Vicente,86,4.5,3,1.0,52.0
57850,276092,Entire home/apt,Estrela,52,4.5,3,2.0,70.0
59227,184400,Entire home/apt,Misericórdia,25,4.5,7,3.0,138.0
65553,320407,Entire home/apt,Campo de Ourique,102,4.5,2,1.0,58.0
65878,322145,Entire home/apt,Misericórdia,51,5.0,4,1.0,76.0
72807,378525,Private room,Alvalade,1,0.0,1,1.0,29.0
73764,154341,Entire home/apt,Santo António,18,4.5,2,1.0,64.0
75171,184400,Entire home/apt,Estrela,19,4.5,5,2.0,115.0
77130,412702,Entire home/apt,Misericórdia,74,4.5,3,0.0,52.0
77466,415066,Entire home/apt,Misericórdia,255,5.0,5,2.0,80.0
83615,184400,Entire home/apt,Estrela,15,4.0,4,1.0,93.0
83933,335614,Entire home/apt,São Vicente,157,4.5,4,1.0,93.0
...,...,...,...,...,...,...,...,...
19360001,26864642,Private room,Arroios,0,0.0,6,3.0,33.0
19361749,127589264,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,69.0
19362076,88928860,Entire home/apt,Penha de França,0,0.0,4,2.0,104.0
19362417,28225140,Private room,Arroios,0,0.0,2,1.0,29.0
19363100,88928860,Private room,Penha de França,0,0.0,2,1.0,46.0
19368183,14317794,Entire home/apt,Misericórdia,0,0.0,4,1.0,104.0
19369538,114388582,Entire home/apt,Misericórdia,0,0.0,4,2.0,65.0
19370050,14317794,Entire home/apt,Misericórdia,0,0.0,3,2.0,109.0
19370165,114388582,Entire home/apt,Santo António,0,0.0,4,2.0,58.0
19370278,135784989,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,184.0
19370578,131185696,Entire home/apt,Alcântara,0,0.0,5,2.0,71.0
19370769,135787783,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,176.0
19373212,131185696,Entire home/apt,Alcântara,0,0.0,4,2.0,75.0
19376122,119457178,Entire home/apt,Ajuda,0,0.0,5,2.0,64.0
19379554,104083974,Entire home/apt,Belém,0,0.0,4,1.0,69.0
19379856,12723358,Entire home/apt,Parque das Nações,0,0.0,2,1.0,80.0
19380177,104083974,Entire home/apt,Belém,0,0.0,6,2.0,69.0
19380414,85047832,Entire home/apt,São Vicente,0,0.0,2,0.0,52.0
19380457,104083974,Entire home/apt,Belém,0,0.0,6,3.0,93.0
19381136,131185696,Entire home/apt,Alcântara,0,0.0,3,1.0,48.0
19383103,48844725,Entire home/apt,Estrela,0,0.0,4,2.0,84.0
19383615,100924999,Entire home/apt,Parque das Nações,0,0.0,4,1.0,52.0
19385945,135895465,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,64.0
19386235,55922649,Entire home/apt,Santa Maria Maior,0,0.0,4,1.0,87.0
19386898,95929866,Entire home/apt,Arroios,0,0.0,3,1.0,91.0
19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

If we use `axis=1` we remove columns (columns are the second axis on a dataframe)

In [7]:
df = df.drop(["reviews", "price"], axis=1)
df

,host_id,room_type,neighborhood,overall_satisfaction,accommodates,bedrooms
room_id,,,,,,
17031,66015,Entire home/apt,Alvalade,0.0,2,1.0
25659,107347,Entire home/apt,Santa Maria Maior,5.0,3,1.0
29248,125768,Entire home/apt,Santa Maria Maior,4.5,4,1.0
29396,126415,Entire home/apt,Santa Maria Maior,5.0,4,1.0
29720,128075,Entire home/apt,Estrela,5.0,16,9.0
29872,128698,Entire home/apt,Alcântara,5.0,2,1.0
29891,128792,Entire home/apt,Misericórdia,5.0,3,1.0
29915,128890,Entire home/apt,Avenidas Novas,4.5,3,1.0
33312,144398,Entire home/apt,Misericórdia,4.5,4,1.0
33348,144484,Private room,Lumiar,0.0,6,1.0
34783,149980,Private room,Estrela,0.0,1,1.0
34977,146695,Entire home/apt,Santa Maria Maior,4.5,6,2.0
40817,176410,Entire home/apt,Misericórdia,4.5,2,1.0
42172,184400,Entire home/apt,Santa Maria Maior,4.5,6,2.0
42519,136230,Entire home/apt,Misericórdia,4.5,3,1.0
44043,192830,Entire home/apt,Santa Maria Maior,5.0,7,3.0
46567,208343,Private room,Avenidas Novas,5.0,2,1.0
47717,217058,Entire home/apt,Santa Maria Maior,4.5,3,1.0
50108,229376,Entire home/apt,Estrela,4.5,4,1.0
55116,259744,Private room,Avenidas Novas,0.0,2,2.0
56906,270457,Entire home/apt,São Vicente,4.5,3,1.0
57850,276092,Entire home/apt,Estrela,4.5,3,2.0
59227,184400,Entire home/apt,Misericórdia,4.5,7,3.0
65553,320407,Entire home/apt,Campo de Ourique,4.5,2,1.0
65878,322145,Entire home/apt,Misericórdia,5.0,4,1.0
72807,378525,Private room,Alvalade,0.0,1,1.0
73764,154341,Entire home/apt,Santo António,4.5,2,1.0
75171,184400,Entire home/apt,Estrela,4.5,5,2.0
77130,412702,Entire home/apt,Misericórdia,4.5,3,0.0
77466,415066,Entire home/apt,Misericórdia,5.0,5,2.0
...,...,...,...,...,...,...
19360001,26864642,Private room,Arroios,0.0,6,3.0
19361749,127589264,Entire home/apt,São Domingos de Benfica,0.0,4,2.0
19362076,88928860,Entire home/apt,Penha de França,0.0,4,2.0
19362417,28225140,Private room,Arroios,0.0,2,1.0
19363100,88928860,Private room,Penha de França,0.0,2,1.0
19368183,14317794,Entire home/apt,Misericórdia,0.0,4,1.0
19369538,114388582,Entire home/apt,Misericórdia,0.0,4,2.0
19370050,14317794,Entire home/apt,Misericórdia,0.0,3,2.0
19370165,114388582,Entire home/apt,Santo António,0.0,4,2.0
19370278,135784989,Entire home/apt,Santa Maria Maior,0.0,4,2.0
19370578,131185696,Entire home/apt,Alcântara,0.0,5,2.0
19370769,135787783,Entire home/apt,Santa Maria Maior,0.0,4,2.0
19373212,131185696,Entire home/apt,Alcântara,0.0,4,2.0
19376122,119457178,Entire home/apt,Ajuda,0.0,5,2.0
19379554,104083974,Entire home/apt,Belém,0.0,4,1.0
19379856,12723358,Entire home/apt,Parque das Nações,0.0,2,1.0
19380177,104083974,Entire home/apt,Belém,0.0,6,2.0
19380414,85047832,Entire home/apt,São Vicente,0.0,2,0.0
19380457,104083974,Entire home/apt,Belém,0.0,6,3.0
19381136,131185696,Entire home/apt,Alcântara,0.0,3,1.0
19383103,48844725,Entire home/apt,Estrela,0.0,4,2.0
19383615,100924999,Entire home/apt,Parque das Nações,0.0,4,1.0
19385945,135895465,Entire home/apt,São Domingos de Benfica,0.0,4,2.0
19386235,55922649,Entire home/apt,Santa Maria Maior,0.0,4,1.0
19386898,95929866,Entire home/apt,Arroios,0.0,3,1.0
19388006,135915593,Entire home/apt,São Vicente,0.0,6,3.0
19393935,5376796,Entire home/apt,Santa Maria Maior,0.0,3,1.0
19396300,6115933,Entire home/apt,Santo António,0.0,6,4.0
19397373,97139334,Entire home/apt,São Vicente,0.0,4,1.0
19400722,28219108,Entire home/apt,Areeiro,0.0,5,3.0

### Note: Reference versus Copy

When we assign a dataframe to a new variable, it is important to know that the new dataframe is just a reference to the original one. Thus, **modifying the new dataframe will modify the original and the other way around!**

In [8]:
new_df = df
df.drop(["room_type", "neighborhood", "overall_satisfaction"], axis=1, inplace=True)
new_df.head()

         host_id  accommodates  bedrooms
room_id
17031      66015             2       1.0
25659     107347             3       1.0
29248     125768             4       1.0
29396     126415             4       1.0
29720     128075            16       9.0

we reload the data

In [9]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()

So, if we want to modify a dataframe and make sure we arent modifying the original one, we can use `.copy()` that returns a copy.

In [10]:
new_df = df.copy()
df.drop(["room_type", "neighborhood", "overall_satisfaction"], axis=1, inplace=True)
new_df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

## Math operations with Dataframes

### Multiplication

You can either use the `*` or the `multiply()` method to multiply columns or multiply columns by a number.

For example, we can calculate the weekly price for the listings.

In [11]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()
df["price_per_week"] = df.price.multiply(7) # o df["price_per_week"] = df.price * 7
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,price_per_week
room_id,,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0,399.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0,322.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0,483.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0,406.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0,469.0

### Division
We can use either `/` or `divide` to divide.

For example, we can calculate the number of people per bedroom:

In [12]:
df["people_per_bedroom"] = df.accommodates.divide(df.bedrooms)
# df["people_per_bedroom"] = df.accommodates / df.bedrooms
df.head(10)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,price_per_week,people_per_bedroom
room_id,,,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0,399.0,2.000000
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0,322.0,2.000000
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0,483.0,3.000000
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0,406.0,4.000000
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0,469.0,4.000000
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0,8078.0,1.777778
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0,525.0,2.000000
29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0,343.0,3.000000
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0,406.0,3.000000
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0,462.0,4.000000

### Column operations

In [13]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()

In [14]:
df.columns

Index(['host_id', 'room_type', 'neighborhood', 'reviews',
       'overall_satisfaction', 'accommodates', 'bedrooms', 'price'],
      dtype='object')

We can change the name of the columns simply assigning a new list to `df.columns`. For example, we can rename the columns and make them capitalized.

In [15]:
df.columns = ['Host_id', 'Room_type', 'Neighborhood', 'Reviews',
       'Overall_satisfaction', 'Accommodates', 'Bedrooms', 'Price']

In [16]:
df.head()

,Host_id,Room_type,Neighborhood,Reviews,Overall_satisfaction,Accommodates,Bedrooms,Price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

We can delete columns with `drop`, but we can also use the python method `del`.

In [17]:
del df["Price"]

In [18]:
df.head()

,Host_id,Room_type,Neighborhood,Reviews,Overall_satisfaction,Accommodates,Bedrooms
room_id,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0

### Operations with strings

In [19]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()

Those columns that are strings have a set of special methods, available under the `.str` name.

For example, if we want to set the neighbourhood name to lower case, we can use `.str.lower()`

In [20]:
df.neighborhood.str.lower().head()

room_id
6499                 belém
17031             alvalade
25659    santa maria maior
29248    santa maria maior
29396    santa maria maior
Name: neighborhood, dtype: object

And if we want to replace the spaces on the neighbourhood with a `_`, we can do so with `.replace()`

In [21]:
df.neighborhood = df.neighborhood.str.replace(" ", "_").str.lower()
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,santa_maria_maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,santa_maria_maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,santa_maria_maior,132,5.0,4,1.0,67.0

There are many string methods available, for example, we can use `.str.strip()` to remove the `/apt` at the end of the room_type.

In [22]:
df.room_type.str.strip("/apt").head()

room_id
6499     Entire home
17031    Entire home
25659    Entire home
29248    Entire home
29396    Entire home
Name: room_type, dtype: object

We can use `.str.cat` to interpolate strings. For example, if we want to set the index to `room_id_host_id` we can do so as:

In [23]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()
df.index = df.index.astype(str)
df.host_id = df.host_id.astype(str)
df.index = df.index.str.cat(df.host_id.astype(str), sep="_")

In [24]:
df.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499_14455,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031_66015,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659_107347,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248_125768,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396_126415,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

### Rename

`.rename` allows us to rename indices, either the row index or the columns.

We can rename columns very easily this way.

In [25]:
df.rename(columns={"neighborhood": "neighbourhood", "reviews": "number_reviews"}).head()

,host_id,room_type,neighbourhood,number_reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499_14455,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031_66015,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659_107347,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248_125768,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396_126415,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

We can also rename the index.

In [26]:
df_indexed_neighbourhood = df.set_index("neighborhood")

In [27]:
df_indexed_neighbourhood.rename({"Belém": "Belem", "Santa Maria Maior": "Saint Mary"}).head()

,host_id,room_type,reviews,overall_satisfaction,accommodates,bedrooms,price
neighborhood,,,,,,,
Belem,14455,Entire home/apt,8,5.0,2,1.0,57.0
Alvalade,66015,Entire home/apt,0,0.0,2,1.0,46.0
Saint Mary,107347,Entire home/apt,63,5.0,3,1.0,69.0
Saint Mary,125768,Entire home/apt,225,4.5,4,1.0,58.0
Saint Mary,126415,Entire home/apt,132,5.0,4,1.0,67.0

### Replace

`replace` allows us to replace values on the data (not the indices)

For example, if we want to change the numerical values on the overall_satisfaction column to an ordinal scale we can do it:

In [28]:
df.replace(
    {
        5:"Best",
        4: "Good",
        3: "OK",
        2: "Not so great",
        1: "Worst",
        0: "No Information"
    }).head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499_14455,14455,Entire home/apt,Belém,8,Best,Not so great,Worst,57.0
17031_66015,66015,Entire home/apt,Alvalade,No Information,No Information,Not so great,Worst,46.0
25659_107347,107347,Entire home/apt,Santa Maria Maior,63,Best,OK,Worst,69.0
29248_125768,125768,Entire home/apt,Santa Maria Maior,225,4.5,Good,Worst,58.0
29396_126415,126415,Entire home/apt,Santa Maria Maior,132,Best,Good,Worst,67.0

By default  `replace` replaces the values in all the columns. We can replace values only on one column.

In [29]:
df.overall_satisfaction.replace(
    {
        5:"Best",
        4: "Good",
        3: "OK",
        2: "Not so great",
        1: "Worst",
        0: "No Information"
    }).head()


# This produces a series but you cna assign it to a variable and put it back into the dataframe

room_id
6499_14455                Best
17031_66015     No Information
25659_107347              Best
29248_125768               4.5
29396_126415              Best
Name: overall_satisfaction, dtype: object

### Group by

In [30]:
df = pd.read_csv("data/airbnb.csv", usecols=columns).sort_index()

Group by allows us to group the dataframe based on its features.

More precisely, Pandas  group by applies a process called [split-apply-combine](https://pandas.pydata.org/pandas-docs/stable/groupby.html).
* split: Separates the dataframe based on the specified groups
* apply: Applies a function to each one of the groups
* combine: Combinanes the results into a new dataframe

For example, if we want to know how many listings every host has we can do:

In [31]:
df.groupby("host_id")

`group_by` returns a `DataFrameGroupBy `, which is a special dataframe object that separates the dataframe by group.

In [32]:
df[["room_id", "host_id"]].head()

   room_id  host_id
0     6499    14455
1    17031    66015
2    25659   107347
3    29248   125768
4    29396   126415

In [33]:
listings_by_host = df[["room_id", "host_id"]].groupby("host_id")
listings_by_host

Now we can count them with `count`

In [34]:
listings_by_host.count()

           room_id
host_id
14455            1
17096            1
37768            1
51461            1
60717            1
66015            1
99255            2
107347           1
125768           1
126008           1
126415           2
128075           1
128128           2
128698           1
128792           1
128890           1
136230          10
144398           1
144484           2
145521           1
146695           5
149980           2
153032           2
154341           2
171529           1
176410           8
180138           1
181902          19
183877           1
184400          18
...            ...
134569653        3
134599148        1
134610991        1
134689706        1
134709797        1
134730325        1
134851323        1
134894922        1
134906754        1
135010255        2
135059355        3
135170253        1
135182810        1
135203188        1
135240832        1
135270245        1
135284393        1
135325564        1
135370447        1
135387966        1
135389497        1
135397298        1
135515736        1
135565767        1
135570136        1
135651991        1
135784989        1
135787783        1
135895465        1
135915593        1

[6418 rows x 1 columns]

By default, the columns we use to group become the index, if we want them to stay as columns we can use the argument `as_index = False`.

In [35]:
properties_by_owner = df[["room_id", "host_id"]].groupby("host_id", as_index=False)
properties_by_owner.count().head()

   host_id  room_id
0    14455        1
1    17096        1
2    37768        1
3    51461        1
4    60717        1

For example, we can calculate the average listing price by room type and host.

In [36]:
average_price = df.groupby(["host_id", "room_type"])[["price"]].mean()
average_price.head(10)

                         price
host_id room_type
14455   Entire home/apt   57.0
17096   Entire home/apt   80.0
37768   Private room      16.0
51461   Entire home/apt   56.0
60717   Entire home/apt  150.0
66015   Entire home/apt   46.0
99255   Entire home/apt   69.0
        Private room      37.0
107347  Entire home/apt   69.0
125768  Entire home/apt   58.0

# Merge

`merge` allows us to join two dataframes based on one or two columns, similar to a SQL JOIN.

Now we are going to load an additional dataset that contains the population in every Lisbon district (taken from [here](https://www.citypopulation.de/php/portugal-lisboa.php))

In [37]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()
populations = pd.read_csv("data/population_lisboa.csv")

In [38]:
populations.head()

            name Population_2011
0      Alcochete           17569
1      Alcochete           12239
2        Samouco            3143
3  São Francisco            2187
4         Almada          174,03

We will do a merge between the Airbnb listings and the populations.

merge works as follows:

```
pd.merge(left_dataframe,right_dataframe,join_type)
```

merge has different parameters:

`left_on` is the name of the column for the left dataframe.
`right_on` is the name of the column for the right dataframe.
`how` specifies the join type, how to make the union:
 - `full` takes all rows for both dataframes whether the values on the join columns exist on both dataframes or not.
 - `inner` takes only the rows on the dataframews where the values on the join columns exist on both dataframes. This is the default value.
 - `left` takes all rows for the left dataframe whether the values on the join columns exist on it dataframes or not.
 - `right` the opposite of `left`

In [39]:
listings_with_pop = pd.merge(df, populations, left_on="neighborhood", right_on="name")

In [40]:
listings_with_pop.shape

(12191, 10)

In [41]:
listings_with_pop.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,Population_2011
0,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0,Belém,16528
1,992647,Entire home/apt,Belém,54,4.0,2,1.0,45.0,Belém,16528
2,2083563,Private room,Belém,2,0.0,2,1.0,127.0,Belém,16528
3,2341627,Entire home/apt,Belém,64,4.5,4,1.0,67.0,Belém,16528
4,3168004,Entire home/apt,Belém,57,4.5,3,2.0,46.0,Belém,16528

Let's check how merge works.

We can see the original number of neighbourhoods by doing `unique()`

In [42]:
neighborhoud_list_all = df.neighborhood.unique()
neighborhoud_list_all

array(['Belém', 'Alvalade', 'Santa Maria Maior', 'Estrela', 'Alcântara',
       'Misericórdia', 'Avenidas Novas', 'Lumiar', 'São Vicente',
       'Campo de Ourique', 'Santo António', 'São Domingos de Benfica',
       'Parque das Nações', 'Penha de França', 'Arroios', 'Beato',
       'Campolide', 'Benfica', 'Areeiro', 'Ajuda', 'Carnide', 'Olivais',
       'Santa Clara', 'Marvila'], dtype=object)

In [43]:
len(neighborhoud_list_all)

24

We see there are 24 unique neighbourhoods

Let's see how many neighbourhoods we get when we do the merge

In [44]:
neighborhoud_list_merge = listings_with_pop.neighborhood.unique()

In [45]:
len(neighborhoud_list_merge)

23

We see there is a neighbourhood missing! Maybe there is one missing on the population dataset?

In [46]:
set(neighborhoud_list_all) - set(neighborhoud_list_merge)

{'São Vicente'}

We see *São Vicente* doesn't exist on the population dataset. When we do a merge, we do an `inner` merge by default, and it removes those rows whose shared column/s don't match. In this example `*São Vicente*` exists on the Airbnbn `neighborhood` column but doesn't exist on the populations dataframe `name` column.

In [47]:
listings_with_pop[listings_with_pop.neighborhood=="São Vicente"]

Empty DataFrame
Columns: [host_id, room_type, neighborhood, reviews, overall_satisfaction, accommodates, bedrooms, price, name, Population_2011]
Index: []

In this particular example, the reference dataframe is the Airbnb, and we are just adding additional data to it. So we would rather keep those listings in São Vicente even though we wont have population information for them. In this case we will do a left merge.

In [48]:
listings_with_pop = pd.merge(df, populations, left_on="neighborhood", right_on="name", how="left")

Now we kept all the listings.

In [49]:
listings_with_pop[listings_with_pop.neighborhood=="São Vicente"].head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,name,Population_2011
21,270457,Entire home/apt,São Vicente,86,4.5,3,1.0,52.0,NaN,NaN
32,335614,Entire home/apt,São Vicente,157,4.5,4,1.0,93.0,NaN,NaN
35,480371,Entire home/apt,São Vicente,27,4.5,6,2.0,115.0,NaN,NaN
39,483396,Entire home/apt,São Vicente,26,4.5,4,1.0,87.0,NaN,NaN
46,183877,Entire home/apt,São Vicente,31,4.5,2,1.0,44.0,NaN,NaN

# Crosstab

`pd.crosstab` allows us to cross data and calculate how many observations fall under two groups.

In [50]:
pd.crosstab(df.neighborhood, df.room_type)

room_type                Entire home/apt  Private room  Shared room
neighborhood
Ajuda                                 83            24            1
Alcântara                            166            47            0
Alvalade                             125           124            4
Areeiro                              122           145           13
Arroios                              928           702           34
Avenidas Novas                       248           296           22
Beato                                 53            31            0
Belém                                203            50            1
Benfica                               49            22            0
Campo de Ourique                     233            84            2
Campolide                             82            40            1
Carnide                               36            10            1
Estrela                              622           176            5
Lumiar                                70            52            2
Marvila                               30            18            3
Misericórdia                        2058           323           21
Olivais                               50            55            3
Parque das Nações                    214            35            1
Penha de França                      205           200            2
Santa Clara                           11            11            1
Santa Maria Maior                   2399           369           30
Santo António                        804           284           17
São Domingos de Benfica               84            54            0
São Vicente                          889           145            7

We can use the argument `normalize` to get percentages instead of totals:
- `normalize="all"` returns total percentages (% of the total dataframe) 
- `normalize="index"` returns percentages per row
- `normalize="columns"` returns percentages per column

In [51]:
pd.crosstab(df.neighborhood, df.room_type, normalize="all")

room_type                Entire home/apt  Private room  Shared room
neighborhood
Ajuda                           0.006273      0.001814     0.000076
Alcântara                       0.012545      0.003552     0.000000
Alvalade                        0.009447      0.009371     0.000302
Areeiro                         0.009220      0.010958     0.000982
Arroios                         0.070133      0.053053     0.002570
Avenidas Novas                  0.018742      0.022370     0.001663
Beato                           0.004005      0.002343     0.000000
Belém                           0.015342      0.003779     0.000076
Benfica                         0.003703      0.001663     0.000000
Campo de Ourique                0.017609      0.006348     0.000151
Campolide                       0.006197      0.003023     0.000076
Carnide                         0.002721      0.000756     0.000076
Estrela                         0.047007      0.013301     0.000378
Lumiar                          0.005290      0.003930     0.000151
Marvila                         0.002267      0.001360     0.000227
Misericórdia                    0.155532      0.024411     0.001587
Olivais                         0.003779      0.004157     0.000227
Parque das Nações               0.016173      0.002645     0.000076
Penha de França                 0.015493      0.015115     0.000151
Santa Clara                     0.000831      0.000831     0.000076
Santa Maria Maior               0.181303      0.027887     0.002267
Santo António                   0.060762      0.021463     0.001285
São Domingos de Benfica         0.006348      0.004081     0.000000
São Vicente                     0.067186      0.010958     0.000529

Now we can see the percentage of listings per neibourhood broken down by room type:

In [52]:
pd.crosstab(df.neighborhood, df.room_type, normalize="index")

room_type                Entire home/apt  Private room  Shared room
neighborhood
Ajuda                           0.768519      0.222222     0.009259
Alcântara                       0.779343      0.220657     0.000000
Alvalade                        0.494071      0.490119     0.015810
Areeiro                         0.435714      0.517857     0.046429
Arroios                         0.557692      0.421875     0.020433
Avenidas Novas                  0.438163      0.522968     0.038869
Beato                           0.630952      0.369048     0.000000
Belém                           0.799213      0.196850     0.003937
Benfica                         0.690141      0.309859     0.000000
Campo de Ourique                0.730408      0.263323     0.006270
Campolide                       0.666667      0.325203     0.008130
Carnide                         0.765957      0.212766     0.021277
Estrela                         0.774595      0.219178     0.006227
Lumiar                          0.564516      0.419355     0.016129
Marvila                         0.588235      0.352941     0.058824
Misericórdia                    0.856786      0.134471     0.008743
Olivais                         0.462963      0.509259     0.027778
Parque das Nações               0.856000      0.140000     0.004000
Penha de França                 0.503686      0.491400     0.004914
Santa Clara                     0.478261      0.478261     0.043478
Santa Maria Maior               0.857398      0.131880     0.010722
Santo António                   0.727602      0.257014     0.015385
São Domingos de Benfica         0.608696      0.391304     0.000000
São Vicente                     0.853987      0.139289     0.006724

And we can see how many of each room type are on each neighbourhood

In [53]:
pd.crosstab(df.neighborhood, df.room_type, normalize="columns")

room_type                Entire home/apt  Private room  Shared room
neighborhood
Ajuda                           0.008501      0.007279     0.005848
Alcântara                       0.017001      0.014255     0.000000
Alvalade                        0.012802      0.037610     0.023392
Areeiro                         0.012495      0.043979     0.076023
Arroios                         0.095043      0.212921     0.198830
Avenidas Novas                  0.025399      0.089779     0.128655
Beato                           0.005428      0.009402     0.000000
Belém                           0.020791      0.015165     0.005848
Benfica                         0.005018      0.006673     0.000000
Campo de Ourique                0.023863      0.025478     0.011696
Campolide                       0.008398      0.012132     0.005848
Carnide                         0.003687      0.003033     0.005848
Estrela                         0.063703      0.053382     0.029240
Lumiar                          0.007169      0.015772     0.011696
Marvila                         0.003073      0.005460     0.017544
Misericórdia                    0.210774      0.097968     0.122807
Olivais                         0.005121      0.016682     0.017544
Parque das Nações               0.021917      0.010616     0.005848
Penha de França                 0.020995      0.060661     0.011696
Santa Clara                     0.001127      0.003336     0.005848
Santa Maria Maior               0.245698      0.111920     0.175439
Santo António                   0.082343      0.086139     0.099415
São Domingos de Benfica         0.008603      0.016379     0.000000
São Vicente                     0.091049      0.043979     0.040936

# Pivot Table

`pivot_table` performs the same function as pivot tables in Excel, it turns rows into columns based on the values on the columns (it "pivots" the data).

this function has different arguments:

- `index`: the columns we want to turn into rows of the pivot table
- `columns`: the columns we want to turn into columns
- `values`: the columns we want to aggregate
- `aggfunc`: the aggregate function applied to the values (mean by default)

For example, if we want to calculate the average satisfaction by room_type for each neighbourhood:

In [54]:
pd.pivot_table(df, index="neighborhood", 
                   columns="room_type", 
                   values=["overall_satisfaction"])

                        overall_satisfaction
room_type                    Entire home/apt Private room Shared room
neighborhood
Ajuda                               3.813253     3.354167    5.000000
Alcântara                           2.966867     2.202128         NaN
Alvalade                            2.856000     2.407258    3.625000
Areeiro                             2.594262     2.175862    2.230769
Arroios                             3.435135     2.621795    1.794118
Avenidas Novas                      2.868952     1.817568    2.772727
Beato                               3.330189     3.241935         NaN
Belém                               3.125616     2.770000    4.500000
Benfica                             2.336735     1.954545         NaN
Campo de Ourique                    3.150215     2.589286    2.250000
Campolide                           2.445122     1.987500    4.500000
Carnide                             1.263889     1.000000    0.000000
Estrela                             3.550643     3.017045    1.700000
Lumiar                              2.228571     1.625000    0.000000
Marvila                             2.716667     2.222222    1.500000
Misericórdia                        3.799318     3.026316    3.785714
Olivais                             3.070000     2.781818    2.833333
Parque das Nações                   2.586449     2.157143    4.500000
Penha de França                     2.958537     2.645000    2.250000
Santa Clara                         1.954545     1.772727    0.000000
Santa Maria Maior                   3.858007     3.040650    2.200000
Santo António                       3.607098     2.690141    2.058824
São Domingos de Benfica             1.910714     1.842593         NaN
São Vicente                         3.667604     2.927586    3.214286

## Data processing

Let's assume we have the following dataframe:

In [55]:
unprocessed_data = pd.DataFrame({
    "worked_hours": [5, 5.2, "sick", 8, 10],
    "work_date": ["2018-01-02", "208-01-02", "2018-01-04", "2018-01-05", "2018-01-06"],
    "employee": ["Manuel", "John", "Manuel", "John", "Manuel"]
})

unprocessed_data

  worked_hours   work_date employee
0            5  2018-01-02   Manuel
1          5.2   208-01-02     John
2         sick  2018-01-04   Manuel
3            8  2018-01-05     John
4           10  2018-01-06   Manuel

By looking at the dataset, it is obvious that the variable `work_date` is a date, `worked_hours` is a number and `employee` is a string. However, because of errors on the data, Pandas has considered all columns as strings (object).

In [56]:
unprocessed_data.dtypes

worked_hours    object
work_date       object
employee        object
dtype: object

We can turn columns into numbers with `pd.to_numeric`

In [57]:
pd.to_numeric(unprocessed_data.worked_hours)

ValueError: Unable to parse string "sick" at position 2

By default, `to_numeric` fails if any value can't be converted. We can change the conversion strategy by specifying the error strategy (with the argument `errors`). For example, if we use `errors="coerce"` pandas will convert those values it can and will convert the rest to null values (NaN).

In [58]:
pd.to_numeric(unprocessed_data.worked_hours, errors="coerce")

0     5.0
1     5.2
2     NaN
3     8.0
4    10.0
Name: worked_hours, dtype: float64

### Operations with datetimes

Same way, we can convert dates to datetime objects (a datatype specific for dates). We can use `pd.to_datetime` to do so. It will coerce invalid dates into nulls (NaT, `not a time`)

In [59]:
pd.to_datetime(unprocessed_data.work_date, errors="coerce")

0   2018-01-02
1          NaT
2   2018-01-04
3   2018-01-05
4   2018-01-06
Name: work_date, dtype: datetime64[ns]

This way we can transform the dates into actual date objects.

In [61]:
unprocessed_data["work_date"] = pd.to_datetime(unprocessed_data.work_date, errors="coerce")
unprocessed_data["worked_hours"] = pd.to_numeric(unprocessed_data.worked_hours, errors="coerce")

In [62]:
unprocessed_data

   worked_hours  work_date employee
0           5.0 2018-01-02   Manuel
1           5.2        NaT     John
2           NaN 2018-01-04   Manuel
3           8.0 2018-01-05     John
4          10.0 2018-01-06   Manuel

In [63]:
unprocessed_data.dtypes

worked_hours           float64
work_date       datetime64[ns]
employee                object
dtype: object

Datetime columns have additional functionality, similarly to the `str.` methods with strings. We can access the datetime methods via the attribute `.dt`.

For example, we can find the day of week with `.dt.dayofweek`

In [64]:
unprocessed_data.work_date.dt.dayofweek

0    1.0
1    NaN
2    3.0
3    4.0
4    5.0
Name: work_date, dtype: float64

In [65]:
unprocessed_data.work_date.dt.weekday_name

0     Tuesday
1         NaN
2    Thursday
3      Friday
4    Saturday
Name: work_date, dtype: object

### Operations with categories

In [66]:
import pandas as pd
df = pd.read_csv("data/airbnb.csv", usecols=columns, index_col="room_id").sort_index()

Pandas can encode categorical variables in two ways, regular objects (strings), or **category**. 
Pandas provide us with a category dtype for categorical data:

    Easily identify and signal categorical columns for processing and other Python libraries
    Converting a string variable with a few different values to a categorical variable saves memory
    By converting to a categorical we can specify an order on the categories.

In [67]:
df.dtypes

host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

In [68]:
df.memory_usage(index=True, deep=True)

Index                    105856
host_id                  105856
room_type                942129
neighborhood            1051870
reviews                  105856
overall_satisfaction     105856
accommodates             105856
bedrooms                 105856
price                    105856
dtype: int64

For example, we can encode the room type and neighbourhood as categories.

In [69]:
df = df.astype({"room_type": "category", "neighborhood": "category"})

df.dtypes

host_id                    int64
room_type               category
neighborhood            category
reviews                    int64
overall_satisfaction     float64
accommodates               int64
bedrooms                 float64
price                    float64
dtype: object

In [70]:
df.describe(include='category')

              room_type       neighborhood
count             13232              13232
unique                3                 24
top     Entire home/apt  Santa Maria Maior
freq               9764               2798

We see we get additional information when describing categories, and not only that, the 2 columns now take significantly less memory space!

In [71]:
df.memory_usage(index=True, deep=True)

Index                   105856
host_id                 105856
room_type                13521
neighborhood             15799
reviews                 105856
overall_satisfaction    105856
accommodates            105856
bedrooms                105856
price                   105856
dtype: int64

category type columns have a way to easily convert their value (or level, that means the string they represent) to a number (that pandas uses to store them internally)

In [72]:
df.neighborhood.cat.codes

room_id
6499         7
17031        2
25659       20
29248       20
29396       20
29720       12
29872        1
29891       15
29915        5
33312       15
33348       13
34783       12
34977       20
40817       15
42172       20
42519       15
44043       20
46567        5
47717       20
50108       12
55116        5
56906       23
57850       12
59227       15
65553        9
65878       15
72807        2
73764       21
75171       12
77130       15
            ..
19360001     4
19361749    22
19362076    18
19362417     4
19363100    18
19368183    15
19369538    15
19370050    15
19370165    21
19370278    20
19370578     1
19370769    20
19373212     1
19376122     0
19379554     7
19379856    17
19380177     7
19380414    23
19380457     7
19381136     1
19383103    12
19383615    17
19385945    22
19386235    20
19386898     4
19388006    23
19393935    20
19396300    21
19397373    23
19400722     3
Length: 13232, dtype: int8

Pandas also works well for ordinal variables. We can assign an order to a categorical variable. For example, we can set the variable `room_type` as an ordinal variable `(Entire Home > Private Room > Shared Room)`

In [73]:
df.room_type

room_id
6499        Entire home/apt
17031       Entire home/apt
25659       Entire home/apt
29248       Entire home/apt
29396       Entire home/apt
29720       Entire home/apt
29872       Entire home/apt
29891       Entire home/apt
29915       Entire home/apt
33312       Entire home/apt
33348          Private room
34783          Private room
34977       Entire home/apt
40817       Entire home/apt
42172       Entire home/apt
42519       Entire home/apt
44043       Entire home/apt
46567          Private room
47717       Entire home/apt
50108       Entire home/apt
55116          Private room
56906       Entire home/apt
57850       Entire home/apt
59227       Entire home/apt
65553       Entire home/apt
65878       Entire home/apt
72807          Private room
73764       Entire home/apt
75171       Entire home/apt
77130       Entire home/apt
                 ...
19360001       Private room
19361749    Entire home/apt
19362076    Entire home/apt
19362417       Private room
19363100       Private room
19368183    Entire home/apt
19369538    Entire home/apt
19370050    Entire home/apt
19370165    Entire home/apt
19370278    Entire home/apt
19370578    Entire home/apt
19370769    Entire home/apt
19373212    Entire home/apt
19376122    Entire home/apt
19379554    Entire home/apt
19379856    Entire home/apt
19380177    Entire home/apt
19380414    Entire home/apt
19380457    Entire home/apt
19381136    Entire home/apt
19383103    Entire home/apt
19383615    Entire home/apt
19385945    Entire home/apt
19386235    Entire home/apt
19386898    Entire home/apt
19388006    Entire home/apt
19393935    Entire home/apt
19396300    Entire home/apt
19397373    Entire home/apt
19400722    Entire home/apt
Name: room_type, Length: 13232, dtype: category
Categories (3, object): [Entire home/apt, Private room, Shared room]

By default a categorical column is not ordered

In [74]:
df.room_type.cat.ordered

False

We can assign the order by doing `.cat.set_categories` and passing the list of levels

In [75]:
df.room_type = df.room_type.cat.set_categories(["Shared room","Private room", "Entire home/apt"], ordered=True)

In [76]:
df.room_type.cat.ordered

True

Now because we know the sorting order of the categories, we can filter the ordinal column:

In [77]:
df[df.room_type>"Shared room"]

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0
29891,128792,Entire home/apt,Misericórdia,28,5.0,3,1.0,49.0
29915,128890,Entire home/apt,Avenidas Novas,28,4.5,3,1.0,58.0
33312,144398,Entire home/apt,Misericórdia,24,4.5,4,1.0,66.0
33348,144484,Private room,Lumiar,2,0.0,6,1.0,46.0
34783,149980,Private room,Estrela,0,0.0,1,1.0,54.0
34977,146695,Entire home/apt,Santa Maria Maior,54,4.5,6,2.0,60.0
40817,176410,Entire home/apt,Misericórdia,229,4.5,2,1.0,52.0
42172,184400,Entire home/apt,Santa Maria Maior,45,4.5,6,2.0,138.0
42519,136230,Entire home/apt,Misericórdia,79,4.5,3,1.0,87.0
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
46567,208343,Private room,Avenidas Novas,3,5.0,2,1.0,39.0
47717,217058,Entire home/apt,Santa Maria Maior,70,4.5,3,1.0,57.0
50108,229376,Entire home/apt,Estrela,33,4.5,4,1.0,69.0
55116,259744,Private room,Avenidas Novas,1,0.0,2,2.0,68.0
56906,270457,Entire home/apt,São Vicente,86,4.5,3,1.0,52.0
57850,276092,Entire home/apt,Estrela,52,4.5,3,2.0,70.0
59227,184400,Entire home/apt,Misericórdia,25,4.5,7,3.0,138.0
65553,320407,Entire home/apt,Campo de Ourique,102,4.5,2,1.0,58.0
65878,322145,Entire home/apt,Misericórdia,51,5.0,4,1.0,76.0
72807,378525,Private room,Alvalade,1,0.0,1,1.0,29.0
73764,154341,Entire home/apt,Santo António,18,4.5,2,1.0,64.0
75171,184400,Entire home/apt,Estrela,19,4.5,5,2.0,115.0
77130,412702,Entire home/apt,Misericórdia,74,4.5,3,0.0,52.0
...,...,...,...,...,...,...,...,...
19360001,26864642,Private room,Arroios,0,0.0,6,3.0,33.0
19361749,127589264,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,69.0
19362076,88928860,Entire home/apt,Penha de França,0,0.0,4,2.0,104.0
19362417,28225140,Private room,Arroios,0,0.0,2,1.0,29.0
19363100,88928860,Private room,Penha de França,0,0.0,2,1.0,46.0
19368183,14317794,Entire home/apt,Misericórdia,0,0.0,4,1.0,104.0
19369538,114388582,Entire home/apt,Misericórdia,0,0.0,4,2.0,65.0
19370050,14317794,Entire home/apt,Misericórdia,0,0.0,3,2.0,109.0
19370165,114388582,Entire home/apt,Santo António,0,0.0,4,2.0,58.0
19370278,135784989,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,184.0
19370578,131185696,Entire home/apt,Alcântara,0,0.0,5,2.0,71.0
19370769,135787783,Entire home/apt,Santa Maria Maior,0,0.0,4,2.0,176.0
19373212,131185696,Entire home/apt,Alcântara,0,0.0,4,2.0,75.0
19376122,119457178,Entire home/apt,Ajuda,0,0.0,5,2.0,64.0
19379554,104083974,Entire home/apt,Belém,0,0.0,4,1.0,69.0
19379856,12723358,Entire home/apt,Parque das Nações,0,0.0,2,1.0,80.0
19380177,104083974,Entire home/apt,Belém,0,0.0,6,2.0,69.0
19380414,85047832,Entire home/apt,São Vicente,0,0.0,2,0.0,52.0
19380457,104083974,Entire home/apt,Belém,0,0.0,6,3.0,93.0
19381136,131185696,Entire home/apt,Alcântara,0,0.0,3,1.0,48.0
19383103,48844725,Entire home/apt,Estrela,0,0.0,4,2.0,84.0
19383615,100924999,Entire home/apt,Parque das Nações,0,0.0,4,1.0,52.0
19385945,135895465,Entire home/apt,São Domingos de Benfica,0,0.0,4,2.0,64.0
19386235,55922649,Entire home/apt,Santa Maria Maior,0,0.0,4,1.0,87.0
19386898,95929866,Entire home/apt,Arroios,0,0.0,3,1.0,91.0
19388006,135915593,Entire home/apt,São Vicente,0,0.0,6,3.0,415.0
19393935,5376796,Entire home/apt,Santa Maria Maior,0,0.0,3,1.0,50.0
19396300,6115933,Entire home/apt,Santo António,0,0.0,6,4.0,138.0
19397373,97139334,Entire home/apt,São Vicente,0,0.0,4,1.0,56.0
19400722,28219108,Entire home/apt,Areeiro,0,0.0,5,3.0,75.0

When reading a csv, we can also specify dtypes so we can directly create category columns:

In [78]:
df = pd.read_csv("data/airbnb.csv", usecols=columns, dtype={
                                            "room_type": "category",
                                            "neighborhood": "category"
})

In [79]:
df.dtypes

room_id                    int64
host_id                    int64
room_type               category
neighborhood            category
reviews                    int64
overall_satisfaction     float64
accommodates               int64
bedrooms                 float64
price                    float64
dtype: object